.statMainWrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    overflow: hidden;
}

.statMainDay {
    min-height: 260px;
    padding: 25px;
    grid-column: 1/4;
    background-color: var(--grey_f4);
}

.statMainDay__title {
    margin-bottom: 14px;
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
}

.styles.statMainDay__descr {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px
}

.statMainDay__descr_accent {
    color: var(--red);
}

.statPomodor {
    min-height: 180px;
    grid-column: 1/4;
    background-color: var(--grey_f4);
}

.statPomodor__info {
    padding-top: 23px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statPomodor__info_icon {
    margin-right: 15px;
}

.statPomodor__info_count {
    color: var(--grey_99);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px
}

.statPomodor__titleWrap {
    padding: 9px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
}

.statDiagram {
    position: relative;
    grid-row: 1/3;
    grid-column: 4/13;
    background-color: var(--grey_f4);
}

.statDiagram__line_one,
.statDiagram__line_two,
.statDiagram__line_three,
.statDiagram__line_four {
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    top: 83px;
    left: 0;
}

.statDiagram__line_two {
    top: 166px;
}

.statDiagram__line_three {
    top: 249px;
}

.statDiagram__line_four {
    top: 332px;
}

.statDiagram__line_one_line {
    display: block;
    margin-right: 32px;
    width: 88%;
    height: 1px;
    background-color: var(--black);
    opacity: 0.2;
}

.statDiagram__line_one_descr {
    display: block;
    color: var(--black);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

.statDiagram__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 51px;
    background-color: var(--grey_ec);
}

.statDiagram__diagram {
    position: relative;
    padding-left: 56px;
    width: 77%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0 32px;
    grid-template-rows: 1fr 51px;
    z-index: 10;
}

.diagramDay {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/3;
    color: var(--grey_99);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.statDiagram__diagram_monday_descr,
.statDiagram__diagram_monday_column {
    grid-column: 1/2;
}

.statDiagram__diagram_tuesday_descr,
.statDiagram__diagram_tuesday_column {
    grid-column: 2/3;
}

.statDiagram__diagram_wednesday_descr,
.statDiagram__diagram_wednesday_column {
    grid-column: 3/4;
}

.statDiagram__diagram_thursday_descr,
.statDiagram__diagram_thursday_column {
    grid-column: 4/5;
}

.statDiagram__diagram_friday_descr,
.statDiagram__diagram_friday_column {
    grid-column: 5/6;
}

.statDiagram__diagram_saturday_descr,
.statDiagram__diagram_saturday_column {
    grid-column: 6/7;
}

.statDiagram__diagram_sunday_descr,
.statDiagram__diagram_sunday_column {
    grid-column: 7/8;
}

.diagramColumn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    grid-row: 1/2;
}

.statPomodor__titleWrap__title {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
}

.activeDay {
    color: var(--red);
}

.statFocus,
.statPauseTime,
.statPauseCount {
    padding: 25px;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statFocus {
    grid-column: 1/5;
    background-color: var(--bg_focus);
}

.statPauseTime {
    grid-column: 5/9;
    background-color: var(--bg_pauseTime);
}

.statPauseCount {
    grid-column: 9/13;
    background-color: var(--bg_pauseCount);
}

.statFocus__textWrap {
    margin-right: 15px;
}

.statFocus__textWrap_title {
    margin-bottom: 20px;
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px
}

.statFocus__textWrap_count {
    color: var(--black);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}