.taskFormWrap {
    margin-bottom: 25px;
}

.taskForm {
    display: flex;
    flex-direction: column;
}

.taskForm__input {
    padding: 19px 15px;
    margin-bottom: 25px;
    max-width: 370px;
    width: 100%;
    color: var(--grey_99);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    outline: none;
    border: none;
    background-color: var(--grey_f4);
    transition: background-color .3s ease-in-out;
}

.taskForm__input:hover,
.taskForm__input:focus {
    background-color: var(--grey_dc);
    transition: background-color .3s ease-in-out;
}

.taskForm__btn {
    width: fit-content;
    padding: 15px 50px;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    background-color: var(--green_light);
    transition: background-color .3s ease-in-out;
}

.taskForm__btn:hover,
.taskForm__btn:focus {
    background-color: var(--green_dark);
    transition: background-color .3s ease-in-out;
}

.placeholderStyle {
    outline: 2px solid var(--red);
}

;